@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

.container {
  width: 1200;
  padding: 0px 15px;
}

body {
  background:lightblue;
}

.header {
  width: 100%;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: lightskyblue;
}

.header h5 {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.country__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.3rem;
  row-gap: 2.3rem;
  margin-left: 50px;
  margin-right: auto;
}

.country__card {
  width: 250px;
  height: 380px;
  border-radius: 5px;
  background: hsl(240, 64%, 30%);
  color: #fff;
}

.country__img img {
  width: 100%;
  height: 150px;
}

.country_wrap {
  margin-top: 100px;
}

.country__data {
  padding: 20px;
}

.country__data h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  background: hsl(240, 64%, 30%);
  color: #fff;
  font-size: 19px;
  font-weight: 600;
}

.country__data h6 {
  margin-bottom: 10px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
  opacity: 80%;
}

.country__list h4 {
  color: #fff;
  text-align: center;
  margin-top: 12px;
}
input {
  padding: 10px 65px;
  color: black;
  position: right;
  margin-left:48px;
  border-radius: 5px;
  background:lightskyblue;
  margin-bottom: 20px;
  cursor: pointer;
}

::placeholder{
  color: black;
}

.form {
  margin-top: 0px;
}

select {
  margin-top: 25px;
  padding: 10px 65px;
  background:lightskyblue;
  margin-bottom: 40px;
  margin-right:44px;
  outline: none;
  border-radius: 5px;
  color:black;
  cursor: pointer;
}
.country__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.country__info__wrap {
  margin-top: 250px;
}
.country__info__container{
  display: flex;
  align-items: center;
  margin-top: 250px;
  column-gap: 2rem;
}

button {
  padding: 10px 25px;
  color: black;
  background: skyblue;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 90px;
  margin-bottom: 20px;
}